target/
target.lib/
.idea/
lightning-performance-toolkit/.gradle/
lightning-performance-toolkit/gradle/wrapper/*
lightning-performance-toolkit/build/classes/main/
*/src/test/resources/results/actual/
*.iml
lightning-jenkins.properties
junit.xml
generated.csv
pom.xml.releaseBackup
release.properties